@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


:root {
    --radius: 5px;
    --base-color: white;
}

* {
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

body {
    background-color: #006999;
    color: var(--base-color);
}

div.conteiner {
    width: fit-content;
    margin: auto;

    margin-top: 90px;
    padding: 5px;

}

label {
    text-align: left;
    width: fit-content;
}

footer {
    padding: 15px;
    text-align: center;
}

input:invalid {
    border: 1px solid red;
}

.button__crud {
    text-align: center;
}
button {
    height: 30px;
    width: 100px;

    border-radius: var(--radius);

    color: black;
    background-color: #09B00D;
}

p#pointer {
    cursor: pointer;
}

.crud-input {
    min-height: 30px;
    min-width: max-content;
    padding: 5px;

    background-color: inherit;
    border: 1px solid black;

    border-radius: var(--radius);
}

.input_conteiner {
    background-color: white;
    --base-color: black;
    color: var(--base-color);
    box-shadow: 0px 2px 5px;

    width: fit-content;

    padding: 10px;

    border-radius: var(--radius);
}

.inputContent {
    display: flex;
    flex-flow: column;

    padding: 5px;
    width: 15em;
}