* {
    padding: 0;
}

:root {
    --height-navbar: 2em;
}

div.main-header {
    margin: 0;
    width: 100%;
}

.list-conteiner {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    margin: auto;
}

div.search_bar {
    display: flex;

    background-color: white;

    width: fit-content;
    height: var(--height-navbar);
    padding: 5px;

    border-radius: 5px;
}

input.search__navbar {
    min-height: var(--height-navbar);
    width: 100%;
    border-style: none;
}

.icon__navbar {
    height: var(--height-navbar);
    width: rem;
}